<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KJSIT ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div style="text-align:center; margin-bottom:15px;">
            <img src="{{ url_for('static', filename='kjsit_logo.png') }}" height="55">
            <h2 style="color:#06294a; margin-top:8px;">KJSIT Support Bot</h2>
        </div>

        <div id="chat-window">
            <div class="message bot">
                <div class="avatar">🤖</div>
                <div class="bubble">
                    Hi! I'm your department assistant. Ask me anything about the department, timings, exams, rules, or contact info.
                </div>
            </div>
        </div>
<a href="/admin" class="admin-fab">
    🔐 Admin
</a>
        <form id="chat-form">
            <input
                type="text"
                id="user-input"
                placeholder="Type your question..."
                autocomplete="off"
            />
            <button type="submit" id="send-btn">Send</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
